@model Discourse.Models.ReportedPost
@{
    ViewBag.Title = "ReportedPost";
}

<h2>Reported Post</h2>

<h3>@Model.FirstName @Model.LastName</h3>
<h4><b>@Model.Title</b></h4>
<p>@Model.Body</p>
<p><small><i>@Model.TimeStamp</i></small></p>
<br />


@using (Html.BeginForm("DeleteReport", "Admin"))
{
    <input type="hidden" name="reportId" value="@Model.Id" />
    <input type="submit" value="Delete Report" />
}

@using (Html.BeginForm("DeletePost", "Admin"))
{
    <input type="hidden" name="reportId" value="@Model.Id" />
    <input type="submit" value="Delete Post" />
}

@using (Html.BeginForm("DeleteBan", "Admin"))
{
    <h4>If Bannable</h4>
    <p>Enter Number of Days User is Banned:</p>
    <p><i><small>Permanent Ban = 36200 days</small></i></p>
    <input type="hidden" name="reportId" value="@Model.Id" />
    <input type="text" name="bannedDayAmount" />
    <input type="submit" value="Ban & Delete" />
}


